.timer {
  &.end-soon {
    animation: blinkingText 1s infinite;
    @keyframes blinkingText {
      0% {
        color: #c00b0b;
      }
      49% {
        color: #bd3434;
      }
      60% {
        color: #bd3434;
      }
      99% {
        color: transparent;
      }
      100% {
        color: #c00b0b;
      }
    }
  }
}
