.card-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 120px;
  border-radius: 10px;
  perspective: 600px;
  top: 1%;
  left: 1%;
  transform: translate(-1%, -1%);

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;

    &.clicked {
      transform: rotateY(180deg);
    }
    &.disable {
      transform: rotateY(180deg);
      pointer-events: none;
      cursor: default;
    }

    .card-face {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &.front {
        color: #fff;
        background: repeating-linear-gradient(
            45deg,
            #333333 0,
            #333333 5%,
            #a72470 0,
            #a72470 50%
          )
          0 / 10px 10px;
        box-shadow: 5px 5px 5px grey;
      }

      &.back {
        display: flex;
        flex-direction: column;
        color: white;
        background: #c5c4bc;
        padding: 10px;
        transform: rotateY(180deg);

        .card-content {
          justify-content: center;
          align-self: center;
          font-size: 80px;
        }
      }
    }
  }
}
